/vendor/
.phpunit.result.cache
.php-cs-fixer.cache
.phpunit.cache
composer.lock
.php-cs-fixer.php
.phpcs-cache
.idea
.vscode
*.swo
*.swp
*.swn
.DS_Store
Thumbs.db
.env
.phpstorm.meta.php
.php-cs-fixer.dist.php
.phpcs.xml
*.cache
coverage/
build/
